<?xml version="1.0" encoding="UTF-8"?>
<!--
/**
 * elasticommerce module configuration
 */
-->
<config>
    <modules>
        <SmartDevs_ElastiCommerce>
            <version>1.0.0</version>
        </SmartDevs_ElastiCommerce>
    </modules>
    <global>
        <blocks>
            <elasticommerce>
                <class>SmartDevs_ElastiCommerce_Block</class>
            </elasticommerce>
        </blocks>
        <helpers>
            <elasticommerce>
                <class>SmartDevs_ElastiCommerce_Helper</class>
            </elasticommerce>
        </helpers>
        <models>
            <elasticommerce>
                <class>SmartDevs_ElastiCommerce_Model</class>
                <resourceModel>elasticommerce_resource</resourceModel>
            </elasticommerce>
            <elasticommerce_resource>
                <class>SmartDevs_ElastiCommerce_Model_Resource</class>
            </elasticommerce_resource>
        </models>
        <resources>
            <elasticommerce_setup>
                <setup>
                    <module>SmartDevs_ElastiCommerce</module>
                </setup>
            </elasticommerce_setup>
        </resources>
        <index>
            <indexer>
                <catalogsearch_fulltext>
                    <model>elasticommerce/rewrite_fulltext</model>
                </catalogsearch_fulltext>
                <elasticommerce>
                    <model>elasticommerce/indexer_process</model>
                </elasticommerce>
            </indexer>
        </index>
        <cache>
            <types>
                <elasticommerce module="elasticommerce" translate="label description">
                    <label>ElastiCommerce</label>
                    <description>Caching for detected language supports, settings, mappings, analyzer</description>
                    <tags>ELASTICOMMERCE</tags>
                </elasticommerce>
            </types>
        </cache>
        <events>
            <catalog_category_delete_commit_after>
                <observers>
                    <elasticsearch>
                        <class>elasticommerce/observer</class>
                        <method>onCategoryDeleteCommitAfter</method>
                    </elasticsearch>
                </observers>
            </catalog_category_delete_commit_after>
            <cms_page_save_commit_after>
                <observers>
                    <elasticsearch>
                        <class>elasticommerce/observer</class>
                        <method>onCmsPageSaveCommitAfter</method>
                    </elasticsearch>
                </observers>
            </cms_page_save_commit_after>
            <cms_page_delete_commit_after>
                <observers>
                    <elasticsearch>
                        <class>elasticommerce/observer</class>
                        <method>onCmsPageDeleteCommitAfter</method>
                    </elasticsearch>
                </observers>
            </cms_page_delete_commit_after>
        </events>
    </global>
    <adminhtml>
        <layout>
            <updates>
                <elasticommerce>
                    <file>elasticommerce.xml</file>
                </elasticommerce>
            </updates>
        </layout>
    </adminhtml>
    <elasticommerce>
        <indexer_types>
            <product>elasticommerce/indexer_type_product</product>
            <!--<category>elasticommerce/indexer_type_category</category>
            <cms_page>elasticommerce/indexer_type_CmsPage</cms_page>-->
        </indexer_types>
    </elasticommerce>
    <default>
        <elasticommerce>
            <connection>
                <host><![CDATA[elasticsearch]]></host>
                <port><![CDATA[9200]]></port>
                <auth_username/>
                <auth_password/>
            </connection>
            <index>
                <chunk_size>3333</chunk_size>
                <number_of_shards>6</number_of_shards>
                <number_of_replicas>0</number_of_replicas>
                <prefix>elasticommerce</prefix>
                <analyzer_config_file>analyzer.xml</analyzer_config_file>
                <schema_config_file>schema.xml</schema_config_file>
            </index>
        </elasticommerce>
    </default>
</config>